<ion-header [translucent]="true">
  <h3 class="header-title">AirWaySystem</h3>
  
  <div class="header-info">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFfqG4FopI1Jr5HkTQdzwDnxapcGW0RtWuGQ&s" alt="Company logo">
    <div class="company-details">
      <p class="name-compani">Caracoles de india</p>
      <p class="type-compani">Hotel</p>
    </div>
  </div>
  
  <div class="stadistic-contener">
    <app-estadistic-card></app-estadistic-card>
  </div>

</ion-header>


<ion-content [fullscreen]="true">

  <div class="custom-box">
    <!-- Contenido personalizado -->
    <p class="box-text">Contenido aquí</p>
  </div>
  

</ion-content>
