ion-header {
    height: 25vh;
    background-color: #F39A4C;
}

.header-title {
    text-align: center; 
    margin: 0; 
    font-size: 1.5rem;
}
  
  
.header-info {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 16px; 
    margin-top: -8px; 
}
  
.header-info img {
    height: 41px;
    width: 41px;
    margin-right: 10px;
}
  
.company-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.name-compani {
    color: #FFFEFE;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
}
  
.type-compani {
    color: #FFFEFE;
    font-size: 9px;
    font-weight: 400;
    margin: 5px 0 0; 
}

.custom-box {
    width: 200px; /* Ancho de la tarjeta */
    height: 200px; /* Alto de la tarjeta */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 10px; /* Espaciado alrededor */
  }
  
  .box-text {
    font-size: 16px; /* Tamaño de texto */
    color: #333333; /* Color de texto */
    text-align: center; /* Alinear texto al centro */
  }

.stadistic-contener {
    border: 1px solid;
    margin-left: 335px;
}
  
